<!DOCTYPE html>
<html>
<head>
	<title>My-First-Blog</title>
</head>
<body>
	<div>
		<h1><a href="">Django girls</a></h1>
	</div>

	<div>
		<p>published: 03.09.1622, 12:30</p>
		<h2><a href="">Никита Джигурда</a></h2>
		<p>Охуеваю охуенно, До охуения хуярю, Хуйнусь c хуёвыми хуями, Хуева хуйня, нахуярясь, хуйни дохуя нахуярила, Нахуя? Расхуяривай нахуй, а хуя хуй, ахуея хуйнёт хуяярище, хуйная хуевце отхуярят хуйностью хуйше, хуяря нахуйника, хуйность хуярит, хуистый хуяк, Нахуя,﻿ хуй недохуя нахуярились хуёвыми хуями хуивы хуи, Охуевая ахуенно, до охуйерия хуйяря, Расхуяривай нахуй- хуйбицкии хуйки!</p>
	</div>

	<div>
		<p>published: 03.09.2022, 12:31</p>
		<h2><a href="">Я люблю Віку</a></h2>
		<p>Black Clover — фентезийная сёнэн-манга за авторством Юки Табата. Сюжет манги сосредоточен вокруг подростка по имени Аста, родившегося без какой-либо магической силы, но сумевшего получить странный магический гримуар. Со своими амбициями, физической силой и гримуаром он стремится стать королём магов. Манга хуйня, как и адаптация.</p>
	</div>
</body>
</html>